.container {
    width: 900px;    
    padding: 80px;
    margin: auto;
}



td, th {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

table, th, td {
    border: 1px solid;
}


.box{
    width: 50%;
    border: 1px solid rgb(145, 138, 138);
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
    margin-left: 280px;
}

.form-control{
    width: 80%;
}


small{
    color: red;
    font-weight: bold;
}